<!-- Navigation row -->
<div class="row">
  <div class="col-sm-12">
      <a href="#" routerLink="/suppliers">List</a> 
      &nbsp;&nbsp;/&nbsp;&nbsp;
      <span href="#" class="active-page">Add Supplier</span>
  </div>
</div>
<br>

<!-- Form to add suppliers -->
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="cName">Company Name</label>
            <input type="text" class="form-control" id="cName" aria-describedby="cNameHelp" placeholder="Company name" [(ngModel)]="cName" />
            <!-- <small id="cNameHelp" class="form-text">Enter company name</small> -->
          </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="pocName">Point of Contact</label>
            <input type="text" class="form-control" id="pocName" placeholder="Point of contact">
          </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-12 text-center">
        <h4>Normal form flow as follows...</h4>
    </div>
</div>