<!-- This row is for adding and other functionalities -->
<div class="row">
    <div class="col-sm-12">
        <a href="#" class="float-right" routerLink="addProduct">Add Product</a>
    </div>
    <div class="clearfix"></div>
</div>
<br>

<!-- This section for listing all the products, only if data exists -->
<div *ngIf="prodData && prodData.length > 0">
    <app-list-view *ngFor="let data of prodData" name="{{data.prodName}}" createdDate="{{data.createdAt}}" updatedDate="{{data.updatedAt}}" other1="{{data.hsnCode}} (hsn code)"></app-list-view>
</div>

<!-- This section for showing no data found -->
<div *ngIf="prodData && prodData.length == 0">
    <div class="list-container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h5>No data found, Click <a href="#" routerLink="addSupplier">here</a> to add</h5>
            </div>
        </div>
    </div>
</div>
